*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: white;
    --content-color:#2a2828 ;
    --hover-color: #c30005;
}

/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.7rem;
    background: rgb(230, 229, 229);
}

html::-webkit-scrollbar-thumb{
    background: var(--content-color);
}

html::-webkit-scrollbar-thumb:hover{
    background-color: var(--hover-color);
}

/* Selection */
::selection{
    background: var(--content-color);
    color: var(--text-color);
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

/* Header */

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header__name-shop{
    width: 100%;
    height: 70px;
    background-color: var(--content-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__name-sign{
    font-size: 1rem;
    color: var(--text-color);
    display: flex;
}

.header__name-link {
    margin: 0 4px;
}

.header__name-link:hover{
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: var(--text-color);
}


/* Modal */

@keyframes modalfadeIn {
    from{
        opacity: 0;
        transform: translateY(-180px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modal{
    display: none;
}

.open{
    display: block;
}

.modal-element{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .5s, border .5s, background .5s, opacity .5s;
}

.modal-container{
    width: 400px;
    height: auto;
    background-color: white;
    position: relative;
    border-radius: 4px;
    animation: modalfadeIn ease-in-out 0.5s;
}

.modal-header{
    margin: 30px  20px 20px 20px;
}

.modal-header-modify{
    display: inline-block;
}

.modal-header-modify h3{
    margin-bottom: 20px;
    font-size: 1.6rem;
    text-transform: uppercase ;
}

.fa-xmark{
    position: absolute;
    top: -6px;
    right: -2px;
    padding: 20px 20px;
}

.modal-input{
    display: block;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 600;
}

.modal-input-ueser{
    display: block ;
    width: 340px;
    margin: 8px 0;
    font-size: 1rem;
    border: solid 1px #999;
    outline: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    padding: 10px  6px;
    line-height: 0.8rem;
    font-weight: 500;
    border-radius: 4px;
}

.modal-input-ueser-modify{
    width: 100%;
}
.modal-input-modify{
    position: relative;
}

.fa-eye-item {
    position: absolute;
    top: 36px;
    right: 6px;
}

.hide-pass{
    top: -9999px;
    left: -9999px;
}

.modal-btn{
    display: flex;
    align-items: center;
    font-size: 1.2rem;

}

.modal-btn-item{
    background-color: var(--hover-color);
    border: none;
    padding: 12px 20px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 30px;
    color: var(--text-color);
}

.modal-btn-item-modify{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
}

.modal-btn-item:hover{
    color: var(--content-color);
    cursor: pointer;
}


.modal-checkbox{
    margin-right: 10px;
}

.modal-modify{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-modify-link{
    text-decoration: none;
    color: #999;
    font-size: 1rem;
}

.modal-modify-link:hover{
    color: var(--hover-color);
    text-decoration:underline;
}

.modal-modify-element{
    display: flex; 
    justify-content: center;
    margin-bottom: 10px;
    border-top: 1px solid #999;
    position: relative;
}

.modal-modify-element p{
    font-size: 0.8rem;
    color: #999;
    padding: 0 14px;
    top: -8px;
    position: absolute;
    background-color: white;
}

.modal-modify-app{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 30px;
}

.fa-google{
    color: #c30005;
}

.modal-modify-app-link{
    background-color: transparent;
    font-size: 2rem;
    padding: 6px 30px;
    border-radius: 4px;
    border: none;
}

.modal-modify-app-link:hover{
    background-color: rgb(242, 239, 239);
    cursor: pointer;
    transform: scale(1.2);
    transition: all solid ease-in-out 0.3s;
}

.fa-facebook{
    color: rgb(25, 85, 224);
}

.modal-modify-question{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.modal-modify-question-item{
    font-size: 1rem;
    color: #999;
}


.modal-modify-link-item{
    color: var(--hover-color);
    margin-left: 8px;
    font-weight: 540;
}

.modal-modify-link-item:hover{
    cursor: pointer;
    color: red;
}


/* End */

/* Modal Đăng Ký */
.js-modal-container-dk{
    width: auto;
    height: auto;
}

.modal-modify-rules{
    display: flex;
    justify-content: center;
}

.modal-modify-elment{
    display: inline-block;
    margin-bottom: 30px;
    font-size: 0.7rem;
}

.modal-modify-link-rules{
    text-decoration: none;
    color: var(--hover-color);
}

.modal-modify-link-rules:hover{
    color: red;
    text-decoration: underline;
}

.modal-modify-elment a:first-child{
    margin-left: 8px;
}

/* End Modal Đăng ký */

/* Ẩn Đăng Ký Và Đăng Nhập  */

@keyframes hidefadeIn{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-100px);
    }

}

@keyframes showhide {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.header__name-sign-hide {
    animation: hidefadeIn ease-in-out 0.5s; 
    transform: translateY(-100px);
}

.header__name-sign-show {
    animation: showhide ease-in 0.2s; 
}

/* End Ẩn Đăng Ký Và Đăng Nhập */



.header__name-link{
    font-size: 0.8rem;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.header__name-link:hover{
    color: var(--hover-color);
}

.header__name-shop-name{
    color: var(--text-color);
}

.header__name-shop-name h3{
    font-size: 2.2rem;
}

.header__name-shop-name p{
    font-size: 1.2rem;
    margin-left: 8px;
}


.header__name-shoping-cart{
    display: flex;
    color: var(--text-color);
}

.header__name-search{
    font-size: 1rem;
    color: var(--text-color);  
    margin-right: 20px; 
    position: relative;
    padding: 4px 4px;
}


.header__name-search:hover{
    color: var(--hover-color);
}

.header-search-modify{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color:white;
    top: 51px;
    left: -60px;
    border-radius: 4px;
    display:none;
    box-shadow: 0 1px 3.125rem 0 rgb(0,0,0,0.6);
    z-index: 1;
    animation: fadeIn ease-in 0.3s;
}

.header-search-modify::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 50px;
    background-color:transparent;
    top: -50px;
    left: 0;
    z-index: 100;
}

.header_search-modify-item{
    width: 270px;
    height: 30px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 30px;
    margin: 20px 14px;
    position: relative;
    padding-left: 10px;
    padding-right: 30px;
    border: solid 2px var(--content-color);
    color: var(--content-color);
    background-color:rgb(252, 252, 252);
    outline: none; 
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);

}



.header__search-btn{
    position: absolute;
    top: 24px;
    right: 22px;
    font-size: 0.5rem;
    border: none;
    background-color: transparent;
    color: var(--text-color);
}

.fa-solid-input{
    color: var(--content-color);    
}

.header-search-modify::before {
    content: "";
    border-width: 20px 20px;
    left: 58px;
    top: -40px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent white transparent;

}

.header__name-search:hover 
.header-search-modify,
.header__name-search:hover .header-search-modify-item-item{
    display: block;
    cursor: pointer;
}


.fa-solid{
    font-size: 1.4rem;
}

.fa-solid:hover{
    color: var(--hover-color);
    cursor: pointer;
}

.header__name-shoping{
    border-left: solid 0.1px #4e4336;
    position: relative;
}

.header__name-cart{
    text-decoration: none;
    color: var(--text-color);
    margin-left:  20px;
    margin-right: 4px;
    position: relative;
   
}   

.header__name-cart:hover{
    color: var(--hover-color);
}

.header__name-shopping-modify{
    position: absolute;
    width: 300px;
    height: 250px;
    background-color:rgb(230, 229, 229);
    top: 51px;
    left: -18px;
    border-radius: 4px;
    display:none;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.6);
    z-index: 1;
    animation: fadeIn ease-in 0.3s; 
}

.no_cart{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.header__name-shopping-modify::after {
    cursor: pointer;
    content: "";
    position: absolute;
    left: 96px;
    top: -36px;
    border-width: 18px 20px;
    border-style: solid;
    border-color: transparent transparent rgb(252, 249, 249) transparent;
}

.header__name-shoping:hover 
.header__name-shopping-modify{
    display: block;
    cursor: pointer;
}

.header__navbar{
    width: 100%;
    height: 56px;
    background-color: rgb(230, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:first-child{
    margin-left: 0 !important;
}

#nav > li > a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 20px 0;
    color: var(--content-color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 22px;
    display: inline-block;
}

#nav li:first-child a {
    border-bottom: solid 3px var(--hover-color);
}

#nav li a:hover{
    color: var(--hover-color);
    border-bottom: solid 3px var(--hover-color);
}

.fa-solid-nav{
    font-size: 0.8rem;
    color: #434242;
}

/* Subnav Nu */
#nav .subnav{
    position: absolute;
    background-color: white;
    width: 256px;
    height: 218px;
    left: 0;
    display: none;
    top: 58px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.6);
    animation: fadeIn ease-in 0.3s;
}

#nav .subnav li{
    list-style: none;
}

#nav .subnav li a{
    margin-left: 0; 
    text-decoration: none;
    border-bottom: solid 1px rgb(196, 193, 193);
    display: block;
    text-transform: none;
    font-size: 1.rem;
    padding: 12px 0 12px 20px;
    color:var(--content-color);
}


#nav .subnav li a:hover{
    color: var(--hover-color);
    background-color: hsl(0, 2%, 91%);
}

.subnav::after {
    content: "";
    position: absolute;
    border-width: 15px 13px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    top: -29px;
    left: 24px;
}

#nav li:nth-child(3):hover .subnav{
    display: block;
}

/* Subnav Nam */
#nav .subnav_nam{
    position: absolute;
    background-color: white;
    width: 256px;
    height: 218px;
    left: 0;
    display: none;
    top: 58px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.6);
    animation: fadeIn ease-in 0.3s;
}

#nav .subnav_nam li{
    list-style: none;
}

#nav .subnav_nam li a{
    margin-left: 0; 
    text-decoration: none;
    border-bottom: solid 1px rgb(196, 193, 193);
    display: block;
    text-transform: none;
    font-size: 1.rem;
    padding: 12px 0 12px 20px;
    color:var(--content-color);
}


#nav .subnav_nam li a:hover{
    color: var(--hover-color);
    background-color: hsl(0, 2%, 91%);
}

.subnav_nam::after {
    content: "";
    position: absolute;
    border-width: 15px 13px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    top: -29px;
    left: 24px;
}

#nav li:nth-child(4):hover .subnav_nam{
    display: block;
}

/* Slider */

#slider{
    margin-top: 126px;
    /* padding-top: 50%; */
    position: relative;
    height: 595px;
}


#img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:center;
    position: absolute;
    top: 0;
}


.bx{
    position: absolute;
    padding: 10px 10px;
    color: #434242;
    font-size: 100px;
    top: 50%;
    transform: translateY(-50%)
}

.bx-chevron-right{
    right: 0;
}

.bx-chevron-left{
    left: 0;
}

.bx:hover{
    cursor: pointer;
    color: #999;

}


.slider__contain{
    position: absolute;
    top: 30%;
    left: 10%;
}

.slider__contain h3{
    font-size: 4rem;
    color: var(--content-color);
    display: flex;
    margin-bottom: 16px;
}

.slider__contain p{
    font-size: 1.2rem;
    font-weight: 600;
}


/* Content */
#content{
    padding-top: 80px;
    padding-bottom: 100px;
}


.item{
    text-align: center;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    height: 350px;
}

.item:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in-out 0.6s;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.6);
    background-color:var(--text-color);
    z-index: 1;
}


.item-img{
   margin: 0;
   padding: 0;
   width: 100%;
   height: 80%;
}

.item h4{
    font-size: 1.4rem;
    color: #000;
    font-weight: 550;
    margin: 6px 0;
}

.item span{
    font-size: 1rem;
    color: var(--hover-color);
    font-weight: 580;
    margin: 0 0 6px 0;
}

.item-btn{
    position: absolute;
    border: none;
    background-color: var(--hover-color);
    width: 120px;
    height: 40px;
    font-size: 1rem;
    border-radius: 4px;
    bottom: 80px;
    left: 80px;
    display: none;
}

.item-btn a{
    text-decoration: none;
    color: var(--text-color);
}

.item:hover .item-btn{
    display: block;
    animation: fadeIn ease-in-out 0.8s;
}

.item-btn:hover{
    background-color: #94060b;
}

.row-item{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 120px 0 40px 0;
    border-bottom: solid 2px #000;
    text-align: center;
}

.row-item p{
    padding: 16px 0;
}

.row-item a{
    text-decoration: none;
    color: var(--content-color);
}

.row-item-link:hover {
    color: var(--hover-color);
}

.row-modify-all{
    text-align: center;
    margin: 50px 0 100px 0;
}

.row-modify-all-btn{
    border: solid 1px #999;
    background-color: transparent;
    width: 120px;
    height: 40px;
    border-radius: 4px;
}

.row-modify-all-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #999;
}

.row-modify-all-btn:hover{
    background-color: var(--content-color);
}
.row-modify-all-btn:hover .row-modify-all-link{
   
    color: var(--text-color);
}

/* slider quảng cảo */
.slider-item{
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,1.6);
    position:relative;
}

.slider-item-img{
    width: 100%;
    opacity: 0.6;
    height: 100%;
    
}

.slider-modify{
    position: absolute;
    top: 120px;
    right: 280px;
    text-transform: uppercase;
    text-align: center;
}

.slider-modify h4{
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 20px 0;
}

.slider-modify p{
    font-size: 3rem;
    color: var(--text-color);
    right: 0;
    font-weight: 600;
}

.slider-modify span{
    color: yellow;
}

.slider-item-btn{
    border: solid 3px #999;
    background: transparent;
    width: 170px;
    height: 50px;
    border-radius: 4px;
    position: absolute;
    top: 290px;
    right: 524px;
}

.slider-btn-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
}

.slider-item-btn:hover{
    background: #000;
    color: #999;
    border: none;
    cursor: pointer;
}

.item-sale{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-sale span{
    color: #c5272c;
    font-weight: 350;
}

.item-sale h1{
    font-size: 1.2rem;
    color: var(--hover-color);
}

.item-under{
    position: relative;
}


.item-sale-modify{
    position: relative;
}

.item-under-modify{
    position: absolute;
    border-bottom: solid 1px #434242;
    top: 8px;
    width: 100%;
}

.item-sale-sale{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--hover-color);
    color: var(--text-color);
    border-radius: 50%;
    top: 10px;
    left: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}
/* Footer */
#footer{
    width: 100%;
    height: 500px;
    background-color: var(--content-color);
    padding-top: 60px;
    position: relative;
}

.container{
    display: flex;
    justify-content: space-around;

}

.container h4{
    font-size: 1.2rem;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 500;
}


.container h4 span{
    padding-bottom: 20px;
    border-bottom: solid 3px var(--hover-color);
}

.container-modify{
    margin: 0 18px;
    color: #999;
    font-weight: 300;
    width: 306px;
    line-height: 26px;
}

.container-icon{
    margin: 0 8px;
    padding: 8px 0;
}

.container-icon:hover{
    color: #999;
    cursor: default;
}

.container-address a{
    text-decoration: none;
    color: #999;
}

.container-email:hover a{
    color: var(--hover-color);
}

.container-menu-link{
    list-style: none;
    display: flex;
}

.menu-link a{
    text-decoration: none;
    color: #999;
}

.menu-link{
    margin: 8px 60px 8px 0;
}

.menu-link:hover a{
    color: var(--hover-color);
}

.container-app{
    display: flex;
    justify-content: space-between;
}

.fa-brands-app{
    font-size: 2.2rem;
    color: #999;
}

.fa-brands-app:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.container-under{
    margin-top: 50px;
    border-bottom: solid 1px var(--text-color) ;
}

.footer-navbar{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: rgb(25, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-weight: 500;
    font-size: 1rem;
}


